.navbar {
  background:#211d2d;
  display:flex;
  flex-direction: row;
  
  justify-content: space-between;
  align-items: center;
  .what-logo{
    text-decoration:none;
    color:#FBCF32;
    font-size:30px;
    margin-left:10px;
  }
  a {
    text-decoration:none;
    color:#FBCF32;
    font-size:14px;
    margin-left:10px;
    
  }
}

.searchbar{
  input{
    padding:15px 200px 15px 10px;
    border-radius: 7px;
    border-style: none;
    background: #FF7A78;
    font-size:14px;
    &::placeholder{
      color:#F1F1F1;
      font-size:14px;
    }
    &:focus{
      outline:none;
    }
  }
}


.navbar-group{
  list-style-type: none;
  color:#ffff;
  display: flex;
  margin-right:100px;
  .navbar-group-link{
    padding:15px;
  }
}


