.navbar {
  background: #211d2d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.navbar .what-logo {
  text-decoration: none;
  color: #FBCF32;
  font-size: 30px;
  margin-left: 10px; }

.navbar a {
  text-decoration: none;
  color: #FBCF32;
  font-size: 14px;
  margin-left: 10px; }

.searchbar input {
  padding: 15px 200px 15px 10px;
  border-radius: 7px;
  border-style: none;
  background: #FF7A78;
  font-size: 14px; }

.searchbar input::placeholder {
  color: #F1F1F1;
  font-size: 14px; }

.searchbar input:focus {
  outline: none; }

.navbar-group {
  list-style-type: none;
  color: #ffff;
  display: flex;
  margin-right: 100px; }

.navbar-group .navbar-group-link {
  padding: 15px; }

.shirts-list {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.shirt-container {
  margin: 30px;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 0;
  max-width: 200px; }

.shirt-container .shirt-image {
  width: 200px; }

.shirt-container button {
  display: flex;
  background: #FBCF32;
  border-radius: 7px;
  /* Wore Yesterday: */
  position: absolute;
  font-family: CircularStd-Book;
  width: 80px;
  padding: 8px 5px 8px 20px;
  font-size: 20px;
  color: #302D2C;
  letter-spacing: -0.6px;
  text-align: left;
  top: 75%;
  right: 55%;
  border: 0; }

.shirt-container button:hover {
  background: #FA198B;
  color: #FFF; }

.shirt-container button:focus {
  outline: none; }

body {
  font-family: 'CircularStd-Black',sans-serif; }

.App {
  text-align: center; }

@font-face {
  font-family: 'CircularStd-Black';
  src: url("../assets/fonts/CircularStd-Black.otf"); }

@font-face {
  font-family: 'CircularStd-Medium';
  src: url("../assets/fonts/CircularStd-Medium.otf"); }
